@import '../../../styles/sass/globalVars';

.card_big{
  position: relative;
  width: 372px;
  max-height: 825px;
  background-color: $color-dark;
  border-radius: $border-radius-big;
  transition: 500ms;
  margin: 1rem auto;
}

.card_big_user_title{
  color: $color-input;
  margin: 0 0 15px 0;
  text-align: center;
}

.card_big_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px;
}

.card_big_title{
  color: $color-card-title;
  font-weight: 600;
  font-size: $font-size-middle;
  line-height: 24px;
  margin: 0 0 5px 0;
}

.card_big_value{
  text-indent: 10px;
  margin: 0 0 10px 0;
  word-wrap: break-word;
  color: $color-card-title;
  font-weight: 600;
  font-size: $font-size-normal;
  line-height: 27px;
  color: $color-input;
}

.card_big_value-address{
  text-indent: 10px;
  margin: 0 0 10px 0;
  word-wrap: break-word;
  overflow: hidden;
  color: $color-card-title;
  font-weight: 600;
  font-size: $font-size-normal;
  line-height: 27px;
  color: $color-input;
}

.card_big_btn{
  position: absolute;
  bottom: 40px;
  left: 102px;
  right: 102px;
  width: 169px;
  height: 42px;
  border: none;
  border-radius: $border-radius-normal;
  background-color: $color-input;
  color: $color-dark;
  font-weight: 700;
  font-size: $font-size-middle;
  font-family: $font-family;
  line-height: 27px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}

.card_big_btn:hover{
  background-color: $color-dark;
  color: $color-ligth;
  border: 2px solid $color-ligth;
}

// Media Screen Movil

@media screen and (max-width: 950px) and (min-width: 200px) {

  // Card big - user data

  .card_big{
    width: 372px - 52px;
    height: 730px;
  }

  .card_big_title{
    font-size: $font-size-medium-movil;
    line-height: 20px;
    margin: 0 0 1px 0;
  }

  .card_big_value{
    margin: 0 0 6px 0;
    line-height: 24px;
  }
  
  .card_big_value-address{
    line-height: 24px;
  }

  .card_big_btn{
    left: 102px - 27px;
    right: 102px - 27px;
  }
}