@import '../../../styles/scss/globalVars';

.card_small{
  position: relative;
  background-color: $color-dark;
  width: 372px;
  max-height: 400px;
  border-radius: $border-radius-big;
  transition: 500ms;
  margin: 1rem auto;
  padding: 0;
}

.card_small_info{
  margin: 70px 40px 40px 40px;
  padding: 0;
}

.card_small_greeting{
  margin: 0 0 7px 0;
  padding: 0;
  font-size: $font-size-big;
  font-weight: 700;
  color: $color-input;
  line-height: 48px;
}

.card_small_name{
  margin: 0 0 20px 0;
  padding: 0;
  font-size: $font-size-big;
  font-weight: 600;
  color: $color-input;
  line-height: 48px;
}

.card_small_msg{
  margin: 0 0 50px 0;
  font-size: $font-size-normal;
  font-weight: 600;
  color: $color-input;
  line-height: 24px;
}

.card_small_btn{
  position: absolute;
  bottom: 40px;
  left: 102px;
  right: 102px;
  width: 169px;
  height: 42px;
  border: none;
  border-radius: $border-radius-normal;
  background-color: $color-input;
  color: $color-dark;
  font-weight: 700;
  font-size: $font-size-middle;
  font-family: $font-family;
  line-height: 27px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}

.card_small_btn:hover{
  background-color: $color-dark;
  color: $color-ligth;
  border: 2px solid $color-ligth;
}


// Media Screen Movil

@media screen and (max-width: 950px) and (min-width: 200px) {

  .card_small{
    width: 372px - 12px;
  }
  
  .card_small_info{
    margin: 50px 40px 40px 40px;
  }
  
  .card_small_greeting{
    line-height: 40px;
  }

  .card_small_name{
    font-size: $font-size-big-movil;
    line-height: 40px;
  }

  .card_small_msg{
    font-size: $font-size-normal-movil;
    line-height: 20px;
    margin-bottom: 100px;
  }

  .card_small_btn{
    left: 102px - 27px;
    right: 102px - 27px;
  }
}