$font-family: 'Poppins', sans-serif;
$font-size-big: 2rem;
$font-size-medium: 1.5rem;
$font-size-middle: 1.125rem;
$font-size-normal: 1rem;
$font-size-small: 0.75rem;


$color-ligth: #F5F5F5;
$color-dark: #1F2B56;
$color-error: #EE5E5E;
$color-input:  #EBEBEB;
$color-input-text: rgba(31, 43, 86, 0.89);


$border-radius-big: 60px;
$border-radius-medium: 50px;
$border-radius-normal: 30px;
$border-radius-small: 10px;



$padding-global: 40px 37px;

