:root {
  --error-color: #dc3545;
  --success-color: #28a745;
  --warnin-color: #ffc107;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 221, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1{
  font-size: 1.7rem;
  padding: 5px 0;
  margin-bottom: 10px;
}

.App{
  text-align: center;
  background-color: #fff;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  width: 400px;
}

.form-field {
  margin-bottom: 5px;
  padding: 5px 10px;
}

.form-field input {
  border: solid 2px #adadad;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: .9rem;
  width: 100%;
}

.form-field input:focus {
  outline: none;
}

.form-field input.border-red{
  border: solid 2px rgb(173, 35, 35);
}

.form-field input.border-green{
  border: solid 2px rgb(51, 177, 51);
}

.form-field label {
  text-align: left;
  display: block;
  color: #1a1a1a;
  margin-bottom: 5px;
}

.form-field small {
  color: var(--error-color);
}

.btn {
  width: 60%;
  padding: 4%;
  background: #3e6ea1;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  border-style: none;
  font-size: 15px;
}

.btn:hover {
  background: #0352a7;
  cursor: pointer;
}


/*------Media Movil------*/

@media screen and (max-width: 500px){
  .App{
    width: 300px;
  }

  .form-field input {
    padding: 7px;
    margin-bottom: 7px;
    font-size: .75rem;
    width: 100%;
  }
}